test.php
cookie_jar.txt
composer.lock
vendor
phpdoc.phar
.idea/workspace.xml
.idea/deployment.xml
/tests/MyTotalComfortRealData.test.php
/.phpunit.result.cache
/tests/reports/
/tests/credentials.json
